#background-page2{
    background: var(--background-gradient);
    min-height: 100vh;
}

.box-page2 {
    min-height: 100vh;
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: var(--color-white-page);

    -webkit-box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
    box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
}

/* -------- Back botton */ 

#back-button {
    width: 3vw;
    height: 3vw;
    background-color: var(--color-purple1);
    border-radius: 50%;
    text-decoration: none;

    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -41%;
    transition: all 0.3s ease-in-out; 
}
#back-button:hover{
   transform: scale(1.05);
    background-color: var(--color-purple2);
}
#back-button::after {
    content: "🠔";
    font-size: clamp(0.8vw + 23px, 0.5rem + 2vw, 3vw);
    color: white;
    position: relative;
    display: inline-block;
}

/* -------- Titles */ 

.title-page2{
    margin-bottom: 2vh;
}

.title-page2 > h1{
    font-size: clamp(20px, 1px + 1.2rem + 1.6vw, 4vw);
    margin-bottom: 1.1vh;
}
.title-page2 > h2{
    font-size: clamp(14px, 0.5rem + 0.8vw, 4vw);
    font-weight: 100;
}

h1, h2{
    background: none;
    color: var(--color-font);
}

/* -- end */ 

/* -------- alert menssage */ 

#alert-re{
    height: 5vh;
    width: 100%;
    background-color: green;
    margin-bottom: 2vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
#alert-re > #background{
    width: 50%;
    height: 100%;
    border-radius: 8px;
}
#alert-re p{
    font-size: 1.1vw;
    position: absolute;
    font-weight: bold;
}

/* -- end */ 

/* -------- Form */ 

#form-page2{
    text-align: left;

    margin-bottom: 6vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-page2 > .category-page2{
    display: flex;
    flex-direction: column;
    width: 64%;
    position: relative;

    margin-bottom:3.7vh;
}

#form-page2 label{
    background: none;
    color: var(--color-font);
    margin-bottom: 1vh;

    font-size: calc(0.7rem + 0.7vw);
    font-weight: bold;
}

.category-page2 {
    position: relative;
    width: 100%;
  }

.input-container2 {
    position: relative;
    width: 100%;
}

.category-page2:nth-child(4) input{
    padding-right: 4vw !important;
}

#form-page2 #show-eye {
    position: absolute;
    right: 1.3rem;
    top: 50%;
    transform: translateY(-50%);
    height: clamp(16px, 5.5vh, 115px);
    width: auto;
    cursor: pointer;
    pointer-events: all;
  }

#form-page2 input{
    padding: calc(0.7vh + 0.3vw);
    font-size: calc(0.9vw + 0.3rem);
    width: 100%;
    padding-right: 3.2rem;
    border-radius: 0.4vw;
    border: 0.2vw solid transparent;
    background-color: var(--color-gray);
    outline: none; 
    box-sizing: border-box;

}
input::placeholder{
    color: #8a8a8a;
}
#form-page2 input:focus{
    border: 0.2vw solid var(--color-purple2);
}

#state-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64%;
    margin-bottom:3.7vh;
}

#state-date > #date-div-page2{
    width: 70%;

    display: flex;
    flex-direction: column;
}



#date-div-page2 > input{
    width: 46%;
    min-width: 140px;
}
#state-date > div:nth-child(2){
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;

    padding: calc(0.7vh + 0.3vw);
    font-size: calc(0.9vw + 0.3rem);
}

#form-page2 select{
    padding: calc(0.5vh + 0.5vw);
    border-radius: 0.4vw;
    border: 0.2vw solid transparent;
    background-color: var(--color-gray);
    outline: none; 
    font-size: calc(0.9vw + 0.3rem);
}
#state-date select:focus{
    border: 0.2vw solid var(--color-purple2);
}

/* -- end */ 

/* -------- Button */ 

#register-button {
    margin: 0 auto;
    margin-top: 2.5vh;
    background-color: var(--color-purple1); 
    border: none;
    width: 30.5vw;
    height: 7.7vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: clamp(14px, 0.3rem + 1vw, 4vw);
    font-weight: bold;
    border-radius: 0.6vw;
    cursor: pointer;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out; 
  } 
  #register-button:hover {
    background-color: var(--color-purple2); 
    transform: scale(1.05);
  }

/* -- end */ 

@media screen and (max-width: 425px){
    #background-page2 {
        min-width: 100%;
    }

    #back-button {
        width: 10vw;
        height: 10vw;
    }

    .box-page2 {
        min-width: 97%;
    }

    .title-page2 > h1{
        font-size: clamp(22px, 3.8vw + 1.5rem, 40px);
    }

    .title-page2 > h2 {
        font-size: clamp(15px, 0.7vw + 0.5rem, 25px);
    }
    
    #alert-re p{
        font-size: clamp(14px, 1.8vw + 0.3rem, 4vw);
    }
    
    #alert-re{
        top: 16vh;
    }

    #form-page2 {
        margin-bottom: 10vh;
    }

    #form-page2 > .category-page2 {
        width: 80%;
    }

    #form-page2 label {
        font-size: clamp(10px, 1.9vw + 0.8rem, 5vw);
    }

    #form-page2 input {
        padding: clamp(8px, 1.2vh + 0.6vw, 3vw);
        font-size: calc(2.5vw + 0.6rem);
    }

    #date-div-page2 > input {
        width: 65%;
        min-width: 39vw;
    }

    .category-page2:nth-child(4) input{
        padding-right: 12vw !important;
    }

    #state-date {
        width: 80%;
    }

    #form-page2 select {
        font-size: clamp(10px, 2vw + 0.3rem, 3vw);
    }

    #form-page2 #show-eye {
        left: 86%;
        height: 5.3vh;
        top: 46%;
    }

    #register-button {
        width: 50vw;
        height: 8vh;
        border-radius: 1vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .box-page2 {
        min-width: 97%;
    }

    #back-button {
        width: 5vw;
        height: 5vw;
    }
    
    .title-page2 > h1{
        font-size: clamp(30px, 3.6vw + 1.1rem, 50px);
    }

    .title-page2 > h2{
        font-size: clamp(16px, 1.7vw + 0.5rem, 4vw);
    }

    #alert-re{
        top: 17%;
    }
    #alert-re p{
        font-size: clamp(14px, 1vw + 0.3rem, 4vw);
    }

    #form-page2 label{
        font-size: calc(1.3vw + 0.7rem);
    }

    #form-page2 input{
        font-size: calc(1.7vw + 0.3rem);
        padding: calc(1.2vh + 0.5vw);
        border-radius: 0.6vw;
    }

    .category-page2:nth-child(4) input{
        padding-right: 6vw !important;
    }

    #date-div-page2 > input {
        width: 40%;
    }

    #form-page2 select{
        font-size: calc(1.7vw + 0.3rem);
        padding: calc(1.2vh + 0.5vw);

    }

    #form-page2 #show-eye {
        left: 93%;
        height: 5.3vh;
    }
}


  @media screen and (min-width: 2038px){
    #back-button::after {
        font-size: clamp(0.8vw + 23px, 1.5rem + 2vw, 4vw);
    }

    .title-page2 > h1{
        font-size: calc(2vw + 1.1rem);
        margin-bottom: 1.1vh;
    }
    .title-page2 > h2{
        font-size: calc(1vw + 0.5rem);
    }

    #alert-re{
        top: 18%;
    }

    #form-page2 input{
        padding: calc(1vh + 0.3vw);
        font-size: calc(1vw + 0.4rem);
    }

    #form-page2 label{
        font-size: calc(0.7vw + 0.8rem);
    }
  }

  @media screen and (min-width: 4077px){
    .title-page2 > h1{
        font-size: calc(2.4vw + 1.4rem);
        margin-bottom: 1.1vh;
    }
    .title-page2 > h2{
        font-size: calc(1.1vw + 0.6rem);
    }
    
    #form-page2 label{
        font-size: calc(0.9vw + 0.9rem);
    }
  }



