/* #background {
    background-image: url('./src/assets/background.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute; 
    z-index: -1;
    filter: blur(0.2vw);
} */

#background-page1{
    background-color: var(--color-background);  
}

.box-page1 {
    height: 100vh;
    width: 45vw;
    background-color: var(--color-white-page);  
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1; 
    /* background-color: var(--color-white2-page2); */

    -webkit-box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
    box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
}

.title-page1{
    margin-top: 12%;
    background: none;
}
.title-page1 > h1{
    font-size: clamp(20px, 1px + 1.2rem + 1.6vw, 4vw);
    margin-bottom: 1.1vh;
}
.title-page1 > h2{
    font-size: clamp(14px, 0.5rem + 0.5vw, 4vw);
    font-weight: 100;
    margin-bottom: 6vh;
}

.title-page1 h1, .title-page1 h2{
    color: var(--color-font);
}

#form-page1{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 6.5vw 0 6.5vw;  
    margin-bottom: -6vh;
}

#form-page1 > .category-page1{
    display: flex;
    flex-direction: column;

    margin-bottom:3.7vh;
}

.category-page1 label{
    color: var(--color-font);
    margin-bottom: 1vh;
    font-size: clamp(14px, 0.7rem + 0.7vw, 4vw);
    font-weight: bold;
}

.category-page1 input{
    padding: 1.5vh;
    border-radius: 0.4vw;
    border: 0.2vw solid transparent;
    outline: none;
    background-color: #e1e1e1;
}

.category-page1 input:focus{
    border: 0.2vw solid var(--color-purple2);
}

/* .input-page1::placeholder{
    color: #8a8a8a;
} */

/* #form-page1 > .input-page1:nth-child(2){
    margin-bottom: 6vh;    
} */
/* #form-page1 > .input-page1:nth-child(2)::placeholder{
    color: #8a8a8a;
} */

#restore-psw{
    width: 11.5vw;
    height: 3.7vh;
    margin: -1.4vh 0 14vh 66%; 

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--color-purple1);
    text-align: right;  
    font-size: clamp(14px, 0.2rem + 0.5vw, 4vw);
}
#restore-psw:hover{
    color: var(--color-purple2); 
}

#login-button {
    margin: 0 auto;
    background-color: var(--color-purple1); 
    color: white;
    border: none;

    font-size: clamp(14px, 0.3rem + 1vw, 4vw);
    font-weight: bold;
    padding: 2.2vh 12vw;
    border-radius: 0.6vw;
    cursor: pointer;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out; 
  } 
  #login-button:hover {
    background-color: var(--color-purple2); 
    transform: scale(1.05);
  }

.register-div{
    margin: 2.2vw auto;
}

h3{
    font-size: clamp(14px, 0.5rem + 0.7vw, 4vw);
    font-weight: bold;
}

  #register-page{
    margin-top: 2vh;
    border: 0.1vw solid var(--color-purple1); 
    color: var(--color-purple1);

    font-size: clamp(14px, 0.3rem + 1vw, 4vw);
    font-weight: bold;
    padding: 2vh 7vw;
    border-radius: 0.6vw;
    cursor: pointer;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out; 
  }
  #register-page:hover {
    background-color: var(--color-purple2); 
    color: white;
    transform: scale(1.02);
  }