html,body{
    font-size: 62.5%;
    font-family: 'Archivo', sans-serif;   
}
body{
    background-color: #fcfcfc;  
}

.box1 {
    height: 100vh;
    width: 98vw;
    /* background-color: #fcfcfc;   */
    background-color: navajowhite;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1; 
}


.title{
    margin-top: 12%;
    background: none;
}
.title > h1{
    font-size: clamp(20px, 1px + 1.2rem + 1.6vw, 4vw);
    margin-bottom: 1.1vh;
}
.title > h2{
    font-size: clamp(14px, 0.5rem + 0.5vw, 4vw);
    font-weight: 100;
    margin-bottom: 6vh;
}

h1, h2{
    background: none;
    color: #050505;
}

form{
    text-align: left;
    /* padding: 0 200px 0 200px;   */
    /* margin: 0 5% 0 5%; */
    margin-bottom: 6vh;
    background-color: rgb(144, 144, 187);

    width: 80%;
    display: flex;
    flex-direction: column;
}

form > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 3.5vh;
}

label{
    background: none;
    color: #050505;
    margin-bottom: 1vh;
    font-size: clamp(14px, 0.7rem + 0.7vw, 4vw);
    font-weight: bold;
}

input{
    padding: 1.5vh;
    width: 70%;
    border-radius: 0.4vw;
    border: none;
    background-color: #e1e1e1;
}
input::placeholder{
    color: #8a8a8a;
}

section > input:nth-child(2){
    margin-bottom: 6vh;    
}
section > input:nth-child(2)::placeholder{
    color: #8a8a8a;
}

a{
    width: 11.5vw;
    height: 3.4vh;
    margin: 1.4vh 0 14vh 66%; 

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #b763e8;;
    text-align: right;  
    font-size: clamp(14px, 0.2rem + 0.5vw, 4vw);
}
a:hover{
    color: #9c4bcb; 
}

button {
    margin: 0 auto;
    background-color: #b763e8; 
    color: white;
    border: none;

    font-size: clamp(14px, 0.3rem + 1vw, 4vw);
    font-weight: bold;
    padding: 2.2vh 12vw;
    border-radius: 0.6vw;
    cursor: pointer;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out; 
  } 
  button:hover {
    background-color: #9c4bcb; 
    transform: scale(1.05);
  }