#background-page2{
    background-color: var(--color-background);  
}

.box-page2 {
    height: 100%;
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-white-page);

    -webkit-box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
    box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
}

#back-button {
    width: 3vw;
    height: 3vw;
    background-color: var(--color-purple1);
    border-radius: 50%;
    text-decoration: none;

    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -41%;
    transition: all 0.3s ease-in-out; 
}
#back-button:hover{
   transform: scale(1.05);
    background-color: var(--color-purple2);
}
#back-button::after {
    content: "🠔";
    font-size: 2.2vw;
    color: white;
    position: relative;
}

/* .title-page2{
    margin-top: 1%;
} */
.title-page2 > h1{
    font-size: clamp(20px, 1px + 1.2rem + 1.6vw, 4vw);
    margin-bottom: 1.1vh;
}
.title-page2 > h2{
    font-size: clamp(14px, 0.5rem + 0.5vw, 4vw);
    font-weight: 100;
    margin-bottom: 6vh;
}

h1, h2{
    background: none;
    color: var(--color-font);
}

#form-page2{
    text-align: left;

    margin-bottom: 6vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-page2 > .category-page2{
    display: flex;
    flex-direction: column;
    width: 64%;

    margin-bottom:3.7vh;
}

#form-page2 label{
    background: none;
    color: var(--color-font);
    margin-bottom: 1vh;

    font-size: clamp(14px, 0.7rem + 0.7vw, 4vw);
    font-weight: bold;
}

#form-page2 input{
    padding: 1.5vh;
    width: 100%;
    border-radius: 0.4vw;
    border: 0.2vw solid transparent;
    background-color: var(--color-gray);
    outline: none; 
}
input::placeholder{
    color: #8a8a8a;
}
#form-page2 input:focus{
    border: 0.2vw solid var(--color-purple2);
}

#state-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64%;
    margin-bottom:3.7vh;
}
#date-div-page2 > input{
    margin-top: 1vh;
    width: 45%;
}
#state-date > div:nth-child(2){
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}


/* section > input:nth-child(2){
    margin-bottom: 6vh;    
} */

/* a{
    width: 11.5vw;
    height: 3.4vh;
    margin: 1.4vh 0 14vh 66%; 

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #b763e8;;
    text-align: right;  
    font-size: clamp(14px, 0.2rem + 0.5vw, 4vw);
}
a:hover{
    color: #9c4bcb; 
} */

#register-button {
    background-color: var(--color-purple1); 
    color: white;
    border: none;
    font-size: clamp(14px, 0.3rem + 1vw, 4vw);
    font-weight: bold;

    margin-top: 2.5vh;
    padding: 2.2vh 12vw;
    border-radius: 0.6vw;
    cursor: pointer;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out; 
  } 
  #register-button:hover {
    background-color: var(--color-purple2); 
    transform: scale(1.05);
  }