#background-page1{
    /* background-color: var(--color-background);   */
    background: rgb(193,128,231);
    background: var(--background-gradient);
}

.box-page1 {
    height: 100vh;
    width: 45vw;
    background-color: var(--color-white-page);  
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    -webkit-box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
    box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
}

.title-page1{
    margin-top: 8%;
    background: none;
}
.title-page1 > h1{
    font-size: clamp(20px, 1px + 1.2rem + 1.6vw, 4vw);
    margin-bottom: 1.1vh;
}
.title-page1 > h2{
    font-size: clamp(14px, 0.5rem + 0.5vw, 4vw);
    font-weight: 100;
    margin-bottom: 6vh;
}

.title-page1 h1, .title-page1 h2{
    color: var(--color-font);
}

#alert-login{
    height: 30px;
    width: 100%;
    border-radius: 8px;

    position: absolute;
    right: 0%;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#alert-login > #background{
    width: 50%;
    height: 100%;
    border-radius: 8px;
}
#alert-login p{
    font-size: 13px;
    color: #ff3d3d;    
    position: absolute;
    font-weight: bold;
    background-color: #faf9de;
    border: 0.2vw solid #f6f5d2;
    border-radius: 0.3vh;
    padding: 0.3vw;  
}

#form-page1{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 6.5vw 0 6.5vw;  
    margin-top: 4vh;
}

#form-page1 > .category-page1{
    display: flex;
    flex-direction: column;

    margin-bottom:3.7vh;
}

.category-page1 label{
    color: var(--color-font);
    margin-bottom: 1vh;
    font-size: clamp(14px, 0.7rem + 0.7vw, 4vw);
    font-weight: bold;
}

.category-page1 input{
    padding: 1.5vh;
    border-radius: 0.4vw;
    border: 0.2vw solid transparent;
    outline: none;
    background-color: #e1e1e1;
}

.category-page1 input:focus{
    border: 0.2vw solid var(--color-purple2);
}


#login-button {
    margin: 0 auto;
    margin-top: 9vh;
    background-color: var(--color-purple1); 
    border: none;
    width: 27vw;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: clamp(14px, 0.3rem + 1vw, 4vw);
    font-weight: bold;
    border-radius: 0.6vw;
    cursor: pointer;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out; 
  } 
  #login-button:hover {
    background-color: var(--color-purple2); 
    transform: scale(1.05);
  }

  #load-svg{
    width: 3.5vw;

  }

.register-div{
    margin: 2.2vw auto;
}

h3{
    font-size: clamp(14px, 0.5rem + 0.7vw, 4vw);
    font-weight: bold;
}

  #register-page{
    margin-top: 2vh;
    border: 0.1vw solid var(--color-purple1); 
    color: var(--color-purple1);

    font-size: clamp(14px, 0.3rem + 1vw, 4vw);
    font-weight: bold;
    padding: 2vh 7vw;
    border-radius: 0.6vw;
    cursor: pointer;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out; 
  }
  #register-page:hover {
    background-color: var(--color-purple2); 
    color: white;
    transform: scale(1.02);
  }