#background-page1{
    /* background-color: var(--color-background);   */
    background: rgb(193,128,231);
    background: var(--background-gradient);
    min-height: 100vh;
}

.box-page1 {
    min-height: 100vh;
    width: 45vw;
    background-color: var(--color-white-page);  
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    -webkit-box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
    box-shadow: 0px 0px 7px 3px rgba(77,77,77,1);
}

.title-page1{
    margin-top: 8%;
    background: none;
}
.title-page1 > h1{
    font-size: clamp(24px, 1rem + 1.9vw, 4vw);
    margin-bottom: 1.1vh;
}
.title-page1 > h2{
    font-size: clamp(13px, 0.5rem + 0.7vw, 4vw);
    font-weight: 100;
    margin-bottom: 8vh;
}

.title-page1 h1, .title-page1 h2{
    color: var(--color-font);
}

#alert-login{
    height: 30px;
    width: 100%;
    border-radius: 8px;

    position: absolute;
    right: 0%;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#alert-login > #background{
    width: 50%;
    height: 100%;
    border-radius: 8px;
}
#alert-login p{
    font-size: calc(1.1vw);
    /* font-size: clamp(12px, 2.4vw + 0.3rem, 5vw); */
    color: #ff3d3d;    
    position: absolute;
    font-weight: bold;
}

#form-page1{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 6.5vw 0 6.5vw;  
}

#form-page1 > .category-page1{
    display: flex;
    flex-direction: column;

    margin-bottom:3.7vh;
}

.category-page1 label{
    color: var(--color-font);
    margin-bottom: 1vh;
    font-size: clamp(15px, 0.7rem + 0.7vw, 4vw);
    font-weight: bold;
}

.category-page1 input{
    padding: clamp(12px, 0.7vh + 0.3vw, 6vh);
    /* padding: calc(0.7vh + 0.3vw); */

    border-radius: 0.4vw;
    border: 0.2vw solid transparent;
    outline: none;
    background-color: #e1e1e1;
    font-size: clamp(12px, 0.9vw + 0.3rem, 5vw);
    /* font-size:calc(0.9vw + 0.3rem) */
}

.category-page1 input:focus{
    border: 0.2vw solid var(--color-purple2);
}


#login-button {
    margin: 0 auto;
    margin-top: 9%;
    background-color: var(--color-purple1); 
    border: none;
    width: 27vw;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: clamp(14px, 0.3rem + 1vw, 4vw);
    font-weight: bold;
    border-radius: 0.6vw;
    cursor: pointer;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out; 
  } 
  #login-button:hover {
    background-color: var(--color-purple2); 
    transform: scale(1.05);
  }

  #load-svg{
    width: 3.5vw;

  }

.register-div{
    margin: 2.2vw auto;
}

h3{
    font-size: clamp(12px, 0.5rem + 0.7vw, 4vw);
    font-weight: bold;
}

  #register-page{
    margin-top: 2vh;
    border: 0.1vw solid var(--color-purple1); 
    color: var(--color-purple1);

    font-size: clamp(14px, 0.3rem + 1vw, 4vw);
    font-weight: bold;
    padding: 2vh 7vw;
    border-radius: 0.6vw;
    cursor: pointer;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out; 
  }
  #register-page:hover {
    background-color: var(--color-purple2); 
    color: white;
    transform: scale(1.02);
  }

  @media screen and (max-width: 425px){
  /* @media screen and (max-width: 425px), screen and (min-width: 1024px){ */
    .box-page1 {
        width: 98vw;
        background-color: green;
    }

    #alert-login{
        top: 17%;
    }
    #alert-login p{
        font-size: clamp(12px, 2.4vw + 0.3rem, 5vw); 
    }

    #form-page1{
        margin-top: 4%;
    }
    #form-page1 > .category-page1 {
        margin-bottom: 7vh;
    }

    #login-button{
        margin-top: 3%;
        width: 60vw;
        height: 9vh;
    }

    #register-page{
        padding: 2.5vh 16vw;
    }

    h3{
        margin-top: 22px;
    }
  }

  @media screen and (max-width: 1024px) and (min-width: 426px) {
    .box-page1 {
        width: 70vw;
        background-color: yellow;
    }

    #alert-login p{
        top: 17%;
        font-size: clamp(12px, 1.4vw + 0.3rem, 5vw); 
    }

    #form-page1{
        margin-top: 3%;
        padding: 0 10vw 0 10vw;
    }

    #form-page1 > .category-page1 {
        margin-bottom: 7vh;
    }
    
    .category-page1 label{
        font-size: calc(0.7rem + 1vw);
    }
    
    .category-page1 input{
        padding: calc(1.2vh + 0.6vw);
        font-size: calc(1.2vw + 0.5rem);
    }

    #login-button {
        width: 31vw;
        height: 9.5vh;
        margin-top: 4%;
    }

    .register-div{
        margin-top: 4%;

    }

    #register-page{
        padding: 3vh 9vw;
    }
  }

  @media screen and (min-width: 2038px){
   .title-page1 > h1{
        font-size: clamp(20px, 1rem + 2vw, 6vw);
        margin-bottom: 1.1vh;
    }
    .title-page1 > h2{
        font-size: calc(0.8rem + 0.7vw);
    }

    .category-page1 input{
        padding: calc(0.6vh + 0.5vw);
        font-size:clamp(21px, 0.8vw + 0.5rem);
    }

    .category-page1 label{
        font-size: calc(0.5rem + 1vw);
    }
    #login-button{
        margin-top: 5vh;
        width: 28vw;
        height: 8vh;
    }

    h3{
        font-size: clamp(1vw, 0.5rem + 0.8vw, 4vw);
    }

    #register-page{
        padding: 2.8vh 7.8vw;
    }
  }

  @media screen and (min-width: 4077px){
    .title-page1 > h1{
        font-size: calc(1rem + 2.3vw);
        margin-bottom: 1.1vh;
    }
    .title-page1 > h2{
        font-size: calc(0.8em + 1vw);
    }

    .category-page1 input{
        padding: calc(0.6vh + 0.5vw);
        font-size:clamp(17px, 0.8vw + 1rem, 5vw);
        
    }
  }